{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>
      <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-8 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Projects</h1>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
              <img class='fill-white' src="{% static 'assets/img/header-bottom.svg' %}">
            </figure>
        </section>

        <div class="section section-sm pb-0 mb-n4">
          <div class="container">
            <div class="row justify-content-center">
              <h2 class="text-center">NMR Labs</h2>
              <div class="mt-5 mb-3 mt-sm-0">
                <span class="h6 fw-bold">Motivation</span>
                </div>
                <p class="lead">
                    Nuclear Magnetic Resonnance (NMR) is a physical phenomenon that occurs when the nuclei of cetain atoms are surrounded by a strong magnetic field and exposed to an additional weak oscillating magnetic field (or pulse) in order to alter the nuclei's state and measure information about it. The existance of the strong magnetic field will cause a majority of the spins to polarize in the direction of the field, and precess about their polarized direction. Its worth noting that not all spins will polarize in the direction of the field; the distribution of the spins' polarizations will follow a Boltzmann distribution.  
                </p>
                <p class="lead">
                    In the case of our NMR experiments, we used nuclei of molecules with a quantum number m=1 (AKA spin 1). With a spin of 1, the nuclei an be in 3 different states, m=-1, m=0, or m=+1. The state m=+1 is the lowest energy state and will take on the highest population within our Boltzmann distribution of spin states, with 0 as the next highest, and -1 as the lowest. The nuclei's spin will also precess about the direction of the magnetic field. The precession frequency is proportional to the strength of the magnetic field, and is known as the Larmor frequency.
                </p>
                <img class='fill-white' src="{% static 'assets/img/lab/Spin_Coherences.png' %}">

                <p class="lead">
                    In NMR experiments, an additional weak oscillating magnetic field pulse is performed in the transverse direction to the applied magnetic field's direction. In our case, the transverse direction was in the X direction, while our strong homogenous magnetic field was applied in the Z direction. This pulse is set to a frequency that is equal to the Larmor frequency of the nuclei. This pulse will then be on resonnance with the precessing nuclei, causing the nuclei to rotate down towards the axis of the pulse. 

                    
                </p>
            </div>
          </div>
        </div>
        {% with counter=0 %}
            {% for lab in labs %}
                {% with counter=counter|add:1%}
                    {% if counter|divisibleby:2 %}
                        {% include 'includes/lab/_lab_section.html' with lab=lab position="right"%}
                    {% else %}
                        {% include 'includes/lab/_lab_section.html' with lab=lab position="left"%}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endwith %}


        <section class="section section-lg">
            <div class="section section-md">
              <div class="container text-dark">
                {% for lab in labs %}
                  <div class="row mb-5">
                      <div class="col-12 mt-5">
                          <div class="card border-2 overflow-hidden">
                              <div class="position-relative">
                                <a href="{% url 'projects_lab' lab.pdf_title %}" target="_blank" class="page-preview scale-up-hover-2">   
                                  <img src="{% static lab.static_preview_path %}" class="card-img-top scale"
                                      alt="Lab Image">
                                </a>
                              </div>
                              <div
                                  class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                                  <h3 class="h5 card-title"> {{ lab.title }} </h3>
                                  <span class="text-gray">{{ lab.description }}</span>
                                  <p class="mt-3">First lab big description describing big details</p>
                                  <div class="btn-group">
                                      <button class="btn btn-secondary btn-icon">
                                          <span class="me-1"><span class="fas fa-book-open"></span></span>
                                          Learn More
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div>
        </section>
    </main>
{% endblock content %}