{% load static %}
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
            <div class="col-12 col-lg-5 mb-5 mb-lg-0 {% if position is "left" %} order-lg-2 {% else %} order-lg-1 {% endif %}">
                <h2 class="h1">{{ lab.title }}</h2>
                <p class="mb-4 lead fw-bold">{{ lab.short_description }}</p>
                <p class="mb-4 lead fw-bold">{{ lab.abstract }}</p>
            </div>
            <div class="col-lg-6 {% if position is "right" %} order-lg-2 {% else %} order-lg-1 {% endif %}">
                <div class="card border-2 overflow-hidden">
                    <div class="position-relative">
                    <a href="{% url 'projects_lab' lab.pdf_title %}" target="_blank" class="page-preview scale-up-hover-2">   
                        <img src="{% static lab.static_preview_path %}" class="card-img-top scale"
                            alt="Lab Image">
                    </a>
                </div>
                <div class="card-body position-relative mt-10 mx-4 bg-white border border-gray-300 text-center rounded">
                    <h3 class="h5 card-title"> {{ lab.title }} </h3>
                    <span class="text-gray">{{ lab.short_description }}</span>
                    <p class="mt-3">{{ lab.description }}</p>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-icon">
                            <span class="me-1"><span class="fas fa-book-open"></span></span>
                            Click to View
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>